
<h2>Registor de Nuevo producto</h2>
<form method="post" id="formRegistrarProducto">
    <div class="input-group mb-3">
        <input type="text" name="nombre" class="form-control" placeholder="nombre del producto" aria-label="Username">
        <span class="input-group-text">@</span>
        <input type="number" name="precio" class="form-control" placeholder="precio del producto" aria-label="Server">
        <input type="number" name="cantidad" class="form-control" placeholder="cantidad de producto" aria-label="Username">
        <span class="input-group-text">@</span>
        <input type="text" name="imagen" class="form-control" placeholder="imagen del producto" aria-label="Server">
    </div>
   </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success">Registrar</button>
    </div>
</form>
<script src="/js/productos/registrarProducto.js"></script>
